<!DOCTYPE html>
<html>
  <head>
    <title>Adorable Pet Names</title>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body id="content">
    <header>
      <h1>Adorable Pet Names</h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html

